<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - hydra</title>
  <link rel="stylesheet" href="css/hydra.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="terminal glitch">
	<div class="scanline"></div>
	<p class="spinner">[/]</p>
	<div class="hydra">
		<div class="hydra_rebooting">
			<p>&lt; REBOOT SISTEMA BRUNNY &gt;</p>
			<p class="text--sm">HYDRA VER 2.1 SYS RECUPERAÇÃO</p>
			<p class="text--sm">PROCESSANDO: <span class="process-amount">0</span>%</p>
			<p class="loading-bar"></p>
		</div>
		<div class="hydra_reboot_success hidden">
			<p>REBOOTING COM SUCESSO</p>
		</div> 
	</div>
</div>
<!-- partial -->
  <script  src="js/hydra.js"></script>

</body>
</html>
