<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>404: Kittens not found</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <!-- Currently a work in progress...
- This pen was entirely inspired by this pen: https://codepen.io/team/nclud/pen/GJpdVo.
- Uses code from a JavaScript command line interface I made a while ago: https://felisphasma.github.io/JavaScript-CLI/
-->
<div id="terminal"></div>
  
  

    <script  src="js/index.js"></script>




</body>

</html>
